/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #143855;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .logo_name {
    font-family: 'Great Vibes';
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: -20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 0;
    list-style: none;
    margin-left: -30px;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #143855;
}

.sidebar li a:hover {
    background: #FFF;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.dropdown {
    position: relative;
}

.dropdown a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.dropdown a:hover {
    background: #FFF;
    color: #11101D;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #143855;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
}

.dropdown-menu li {
    left: 30px;
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s ease, color 0.3s ease;
}

.dropdown-menu li a:hover {
    background: #FFF;
    color: #11101D;
}

.dropdown:hover .dropdown-menu,
.dropdown.open .dropdown-menu {
    display: block;
    animation: dropdown-fade-in 0.3s ease;
}

.dropdown a .arrow {
    font-size: 18px;
    color: #fff;
    transition: transform 0.3s ease;
}

.dropdown.open .arrow {
    transform: rotate(180deg);
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #143855;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
    transform-origin: center top;
    /* menetapkan asal transformasi */
}

.dropdown.open .dropdown-menu {
    display: block;
    animation: dropdown-fade-in 0.3s ease;
}

@keyframes dropdown-fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px) scaleY(0.8);
        /* skala awal */
    }

    to {
        opacity: 1;
        transform: translateY(0) scaleY(1);
        /* skala saat terbuka */
    }
}

.home-section {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    padding: 5px;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: #11101D;
}

.user .user-profil img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}